.pagination__wrapper
  width: 232px
  .link
    font-family: $font-brokgauz
    font-size: 20px
    font-weight: $regular
    font-style: normal
    font-stretch: normal
    line-height: normal
    letter-spacing: normal
    text-align: center
    color: #878787
  .link.active
    font-size: 24px
    color: #000000
